<ion-header no-border>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="modalDismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="montserrat">
      <!-- joseleonardo -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ng-container *ngIf="progress | async as percent">

    <progress [value]="percent" max="100"></progress>

  </ng-container> -->
  <!-- <div>
  {{ 'res: ' + ress }}
  {{ 'err: ' er}}

</div> -->

<ion-button>
  Agregar imagen
</ion-button>

</ion-content>
