<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Selecciona tu Ubicación</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="dismissPoin()">
            <ion-icon name="checkmark"></ion-icon>
          </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="getMap"></div>
</ion-content>
